.navbar{
    width: 90%;
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    left: 50%; /* Move the left edge to the center */
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 30px;
    font-family: 'Inter';
    z-index: 1;
    .navbar-left{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
        }
    }
    .navbar-right{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
        }
    }
}