.footer {
  background: var(--secondary-color) url('/images/footer-bg.svg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 5%;

  .sm-btns {
    display: flex;
    align-items: flex-end;

    .icons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 200px;
      margin-bottom: 35px;
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
          transform: scale(1.05);
        }
      }
    }

    .credits {
      font-size: calc(13px + 3 * (100vw - 320px) / 1600);
      ;
    }
  }

  ul.menu-options {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    li{
      cursor: pointer;
      padding-bottom: 4px;
      border-bottom: 1px solid #000000;
      width: fit-content;
      font-size: calc(15px + 4 * (100vw - 320px) / 1600);
      line-height: 1.1;
      transition: all 0.3s ease;
      img{
        height: 12px;
        width: 15px;
        margin-left: 15px;
        transition: all 0.3s ease;
      }
      &.seperator{
        margin-bottom: 35px;
      }
      &:hover{
        color: var(--primary-color);
        border-color: var(--primary-color);
        img {
          filter: brightness(0) saturate(100%) invert(34%) sepia(94%) saturate(1786%) hue-rotate(192deg) brightness(95%) contrast(92%);
        }
      }
    }
  }
}
@media(max-width:768px) {
  .footer{
    .sm-btns{
      .icons{
        justify-content: flex-end;
      }
    } 
  } 
}