.banner{
    min-height: 700px;
    height: calc(100vh + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);;
    .title{
        color: #fff;
        font-family: 'Aquatico', sans-serif;
        font-size: 3.25rem;
        line-height: 1.2;
        text-align: center;
    }
}
@media (min-width: 1400px){
    .banner{
        .title{
            font-size: 3.75rem;
            line-height: 1.3;
        }
    }
  }