.banner{
    min-height: 700px;
    height: calc(100vh + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);;
    .title{
        color: #fff;
        font-family: 'Aquatico', sans-serif;
        font-size: 4rem;
    }
}