.banner{
    min-height: 700px;
    height: calc(100vh + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);;
    .title{
        color: #fff;
        font-family: 'Aquatico', sans-serif;
        font-size: calc(45px + 4 * (100vw - 320px) / 1600);
        line-height: auto;
        text-align: center;
        // letter-spacing: 0.2rem;
    }
}